body {
    background-image: url("https://www.environmentallights.com/media/catalog/product/large/rgb-pixelpro-bullet-8mm.gif");
    }
    
    h1 {
        color:yellow;
        margin-left:20px;
        family-font: "Century Gothic", sans-serif
    }

h2 {
    color:white;
    margin-left:20px;
    family-font: "Century Gothic", sans-serif
    
}

h3 {
    color:yellow;
    margin-left:20px;
    family-font: "Century Gothic", sans-serif
}

h4 {
    color:white;
    margin-left:20px;
    family-font: "Century Gothic", sans-serif
}
    
