body {
    background-image: url("https://www.environmentallights.com/media/catalog/product/large/rgb-pixelpro-bullet-8mm.gif");
    }
    
    h1 {
        color:red;
        margin-left:20px;
    }
